* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Muller';
  font-size: 16px;
}

a {
  text-decoration: none;
  color: cornsilk;
}

.wrapper {
  overflow: hidden;
  background-color: #0a141e;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-btn {
  display: block;
  color: #ffd74c;
  background-color: transparent;
  border: 1px solid #ffd74c;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  font-size: 1.1rem;
  text-decoration: none;
  min-width: 200px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 300;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0 2rem;
}

.main-btn:hover {
  color: #333;
  background-color: #edcb60;
  border-color: #edcb60;
}

.section {
  padding: 100px 0;
  background: url(../img/section-bg.png) 100% 100%;
  background-size: cover;
}

.main-title {
  font-size: 3rem;
  font-weight: 200;
  color: #ededed;
}

.mobile-button {
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  position: fixed;
  border-radius: 50%;
  bottom: 2vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9998;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 4rem;
  background-color: #243443;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-button__line {
  display: block;
  height: 1px;
  width: 30px;
  min-width: 30px;
  background-color: #c4c4c4;
  margin: 6px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mobile-button--is-active {
  background-color: #e89082;
}

.mobile-button--is-active .mobile-button__line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-2px, 2px);
  transform: rotate(-45deg) translate(-2px, 2px);
}

.mobile-button--is-active .mobile-button__line:nth-child(2) {
  display: none;
}

.mobile-button--is-active .mobile-button__line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-2px, -3px);
  transform: rotate(45deg) translate(-2px, -3px);
}

.mobile-button--is-active .mobile-button__line {
  background-color: #fff;
}

.mobile-social__row {
  display: none;
  margin-top: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .mobile-social__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-social__item {
  padding: 0 25px;
}

.gallery__title {
  color: #e89082;
  font-size: 1.35rem;
  line-height: 1.3;
  font-weight: 200;
}

.gallery__body {
  display: block;
  margin: 15px 0;
  border: 4px solid #ffffff;
  margin-top: auto;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__description {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 200;
}

.header {
  width: 100%;
  position: relative;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 425px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }
}

.header__showcase {
  background-color: #000;
  height: calc(100vh - 68px);
  width: 100%;
  position: relative;
}

.header__overlay {
  z-index: 2000;
}

.header__arrow-down {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 3.125rem;
  left: 0;
  z-index: 2000;
  -webkit-animation: move 1s infinite linear;
          animation: move 1s infinite linear;
}

@media (max-width: 768px) {
  .header__arrow-down {
    display: none;
  }
}

.header__arrow-down-icon {
  font-size: 3rem;
  font-weight: 100;
  cursor: pointer;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  75% {
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  75% {
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.navbar {
  background-color: #0a141e;
  border-bottom: 2px solid #243443;
  height: 4.18rem;
  z-index: 9999;
}

.navbar__logo {
  color: #ffd74c;
  font-size: 1.5rem;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 3.75rem;
}

@media (max-width: 1130px) {
  .navbar__list {
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar__list {
    display: none;
    position: absolute;
    top: 4.18rem;
    left: -15px;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 4.18rem);
    background-color: #111;
    z-index: 9998;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20px;
  }
}

.navbar__item {
  margin: 0 .625rem;
  height: 100%;
}

@media (max-width: 838px) {
  .navbar__item {
    margin: 0 .225rem;
  }
}

@media (max-width: 768px) {
  .navbar__item {
    height: auto;
    width: 100%;
    text-align: center;
  }
}

.navbar__link {
  font-size: 1.1rem;
  line-height: 4.18rem;
  padding: 0 .8125rem;
  font-family: 'Muller';
  font-weight: 100;
  cursor: pointer;
  color: #ededed;
  display: block;
  transition: all 5ms;
  -webkit-transition: all 5ms;
  -moz-transition: all 5ms;
  -ms-transition: all 5ms;
  -o-transition: all 5ms;
  text-transform: capitalize;
}

.navbar__link svg {
  display: none;
  fill: #ededed;
  padding-left: 15px;
  width: 55px;
}

@media (max-width: 768px) {
  .navbar__link svg {
    display: inline-block;
  }
}

.navbar__link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #e89082;
}

@media (max-width: 916px) {
  .navbar__link {
    padding: 0 .3125rem;
  }
}

@media (max-width: 768px) {
  .navbar__link {
    font-size: 1.8rem;
  }
}

.navbar__phone {
  margin-left: auto;
  font-size: 1.1rem;
  color: #ededed;
  font-family: 'Muller';
  font-weight: 500;
}

@media (max-width: 1130px) {
  .navbar__phone {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar__phone {
    display: block;
    line-height: 4.18rem;
  }
}

@media (max-width: 425px) {
  .navbar__phone {
    margin-left: initial;
    line-height: 2rem;
  }
}

.navbar__phone-icon {
  color: #e89082;
  padding-right: .625rem;
  font-size: 1.2rem;
}

.showcase__picture--sl1 {
  background: url(../img/service1.jpg) no-repeat center;
  background-size: 100% 150%;
}

@media (max-width: 450px) {
  .showcase__picture--sl1 {
    background-size: cover;
  }
}

.showcase__picture--sl2 {
  background: url(../img/test-tour.jpg) no-repeat center/cover;
}

.showcase__picture--sl3 {
  background: url(../img/record2.jpg) no-repeat center/cover;
}

.showcase__picture--sl4 {
  background: url(../img/master1.jpg) no-repeat center;
  background-size: 100% 100%;
}

@media (max-width: 450px) {
  .showcase__picture--sl4 {
    background-size: cover;
  }
}

.showcase__picture--sl5 {
  background: url(../img/record4.jpg) no-repeat center;
  background-size: 100% 150%;
}

.showcase__picture--sl6 {
  background: url(../img/defilee.jpg) no-repeat center/cover;
}

.video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding-top: 11.43rem;
}

@media (max-width: 768px) {
  .overlay {
    padding-top: 8.43rem;
  }
}

@media (max-width: 450px) {
  .overlay {
    padding-top: 14.43rem;
  }
}

.overlay__content {
  width: 70%;
}

@media (max-width: 768px) {
  .overlay__content {
    width: 100%;
  }
}

.overlay__title {
  font-size: 20px;
  font-weight: 100;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.overlay__subtitle {
  font-size: 2.25rem;
  line-height: 48px;
  max-width: 80%;
  font-weight: 200;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 450px) {
  .overlay__subtitle {
    font-size: 1.5rem;
    line-height: 29px;
  }
}

.overlay__btn {
  width: 200px;
  margin-top: 5rem;
  z-index: 2000;
}

@media (max-width: 450px) {
  .overlay__btn {
    margin-top: 2rem;
  }
}

/* main */
.main {
  background-color: #041c40;
  background-image: url(../img/body_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-weight: 200;
}

/* services */
.services__content {
  padding-top: 80px;
  padding-bottom: 60px;
  margin: 0 -15px;
}

.services__card {
  margin: 0 .9375rem;
}

.services__title {
  text-align: center;
}

/* card */
.card__inner {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.card__inner:hover .card__body {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.card__inner:hover .card__img {
  opacity: .6;
}

.card__img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.card__body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: translateY(150px);
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.card__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 70px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.card__description {
  font-weight: 400;
  padding: 0 30px;
  line-height: 1.32;
  text-transform: uppercase;
}

/* description */
.description {
  margin-top: 90px;
}

.description__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 420px;
  margin: 0 -20px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .description__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.description__row--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .description__row--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.description__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 0 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .description__item {
    width: 100%;
  }
}

.description__image {
  display: block;
  width: 100%;
  opacity: .7;
}

.description__link-picture {
  position: relative;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.description__wrap-picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.description__wrap-picture:hover {
  opacity: 1;
}

.description__caption-title {
  font-family: "NK264";
  font-size: 3.4rem;
  font-weight: normal;
  padding-top: 70px;
  margin-bottom: 80px;
}

.description__caption-text {
  color: #ededed;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.5;
  padding: 0 80px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.description__inner-title {
  margin-top: 20px;
  margin-bottom: 30px;
}

.description__link-title {
  border-bottom: 1px solid transparent;
  color: #e89082;
  font-size: 2.7rem;
  line-height: 1.3;
  font-weight: 200;
}

@media (max-width: 426px) {
  .description__link-title {
    font-size: 1.7rem;
  }
}

.description__inner-text {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: 200;
  padding-right: 5px;
}

.description__btn {
  width: 226px;
}

.categories__title {
  text-align: center;
  margin-bottom: 60px;
}

.categories__list {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

@media (max-width: 769px) {
  .categories__list {
    margin: 0;
  }
}

.categories__item {
  width: 33.333%;
  padding: 0 20px;
  margin-bottom: 60px;
}

@media (max-width: 769px) {
  .categories__item {
    width: 50%;
  }
}

@media (max-width: 426px) {
  .categories__item {
    width: 100%;
  }
}

.categories__link {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  overflow: hidden;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.categories__link:hover .categories__description {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  opacity: 1;
}

.categories__picture {
  height: 227px;
  width: 227px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.categories__img {
  display: block;
  width: 100%;
  height: 100%;
}

.categories__body {
  text-align: center;
}

.categories__subtitle {
  font-family: "NK264";
  font-size: 2.2rem;
  line-height: 54px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 20px;
}

.categories__description {
  font-size: 1.2rem;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.team {
  padding-bottom: 3rem;
}

.team__title {
  text-align: center;
  padding: 50px 0;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.team__subtitle {
  position: relative;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.team__text {
  font-size: 1rem;
  line-height: 22px;
}

.team__name {
  font-weight: 700;
  margin-bottom: 12px;
}

.team__mail {
  color: #5d3bf5;
  line-height: 32px;
}

.team__address {
  line-height: 32px;
}

.team__phone-icon {
  padding-right: 7px;
}

.team__img {
  height: 140px;
  width: 140px;
}

.portfolio {
  padding: 0;
}

.portfolio__banner {
  height: 300px;
  background: url(../img/ban1.jpg) no-repeat center/cover;
}

.portfolio__breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.portfolio__breadcrumb-item {
  font-size: 1.2rem;
}

.portfolio__breadcrumb-item:first-child {
  color: #dc8648;
}

.portfolio__title {
  margin: 2rem 0;
  font-size: 2rem;
}

.portfolio__description {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 200;
}

.portfolio__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 45px;
  padding: 3rem 0;
}

.footer {
  padding: 80px 0;
  color: #ffffff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  width: 50%;
}

@media (max-width: 690px) {
  .footer__item {
    width: 100%;
  }
}

.footer__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.footer__text {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 1.5rem;
  font-family: 'Muller';
  font-weight: 100;
}

.footer__list-item {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 1rem;
  font-family: 'Muller';
  font-weight: 100;
}

.footer__list-item .fas {
  color: #fa9885;
  padding-right: 15px;
  font-size: 1.5rem;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 690px) {
  .footer__form {
    margin-top: 2rem;
  }
}

.footer__form-item {
  margin-bottom: 2rem;
  width: 70%;
  padding: 20px 10px;
  font-size: 1.1rem;
  font-weight: 200;
}

@media (max-width: 769px) {
  .footer__form-item {
    width: 100%;
  }
}

.footer__btn {
  border: none;
  color: #ffffff;
  background-color: #fa9885;
  text-align: center;
  width: 170px;
  padding: 10px;
  font-size: 1.1rem;
}

.slider {
  height: 100%;
}

.slider div {
  height: 100%;
  width: 100vw;
}

.slider img {
  display: block;
  width: 100vw;
}

/* slick slider */
.slick-dots {
  top: 20px;
  z-index: 2001;
  height: 50px;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #a9a9a9;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.slick-active {
  background-color: #ededed;
}

.slick-prev,
.slick-next {
  z-index: 7000;
  width: 100px;
  height: 80px;
  top: 6%;
  background-color: rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

@media (max-width: 426px) {
  .slick-prev,
  .slick-next {
    top: 16%;
  }
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.23);
}

.slick-prev {
  left: initial;
  right: 100px;
}

.slick-next {
  right: 0;
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px;
  font-weight: bold;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #ffd74c;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.ecart-top-js {
  padding-top: 162px;
}

.linkToHome {
  display: block;
  text-decoration: none;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#423f9c), to(#862359));
  background: linear-gradient(90deg, #423f9c, #862359);
  position: fixed;
  bottom: 100px;
  right: -40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2sease-in;
  -webkit-transition: all 0.2sease-in;
  -moz-transition: all 0.2sease-in;
  -ms-transition: all 0.2sease-in;
  -o-transition: all 0.2sease-in;
}

.show-js {
  display: block;
}

.hide-js {
  display: none;
}
/*# sourceMappingURL=style.css.map */