*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Muller';
    font-size: 16px;
}

a {
    text-decoration: none;
    color: cornsilk;
}
.wrapper {
    overflow: hidden;
    background-color: #0a141e;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @media (max-width: 768px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.main-btn {
    display: block;
    color: #ffd74c;
    background-color: transparent;
    border: 1px solid #ffd74c;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 1.1rem;
    text-decoration: none;
    min-width: 200px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 300;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 0 2rem;
    &:hover {
        color: #333;
        background-color: #edcb60;
        border-color: #edcb60;
    }
}

.section {
    padding: 100px 0;
    background: url(../img/section-bg.png) 100% 100%;
    background-size: cover;
}

.main-title {
    font-size: 3rem;
    font-weight: 200;
    color: #ededed;
}

.mobile-button {
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    @media (max-width: 768px) {
        display: flex;
    }
    position: fixed;
    border-radius: 50%;
    bottom: 2vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    //z-index: 1000;
    z-index: 9998;
    border: 1px solid rgba(255,255,255,.5);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 4rem;
    background-color: #243443;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.mobile-button__line {
    display: block;
    height: 1px;
    width: 30px;
    min-width: 30px;
    background-color: #c4c4c4;
    margin: 6px 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.mobile-button--is-active {
    background-color: #e89082;
}

.mobile-button--is-active .mobile-button__line:nth-child(1) {
    -webkit-transform: rotate(-45deg) 
    translate(-2px,2px);
    -ms-transform: rotate(-45deg) translate(-2px,2px);
    transform: rotate(-45deg) 
    translate(-2px,2px);
}

.mobile-button--is-active .mobile-button__line:nth-child(2) {
    display: none;
}

.mobile-button--is-active .mobile-button__line:nth-child(3) {
    -webkit-transform: rotate(45deg)
     translate(-2px,-3px);
    -ms-transform: rotate(45deg) translate(-2px,-3px);
    transform: rotate(45deg) 
    translate(-2px,-3px);
}

.mobile-button--is-active .mobile-button__line {
    background-color: #fff;
}

.mobile-social__row {
    display: none;
    @media (max-width: 768px) {
        display: flex;
    }
    margin-top: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mobile-social__item {
    padding: 0 25px;

}

.gallery {
    
    &__title {
        color: #e89082;
        font-size: 1.35rem;
        line-height: 1.3;
        font-weight: 200;
    }
    &__body {
        display: block;
        //height: 250px;
        margin: 15px 0;
        border: 4px solid #ffffff;
        margin-top: auto;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__description {
        font-size: 1.125rem;
        line-height: 1.5;
        //margin-bottom: 40px;
        color: #ffffff;
        font-weight: 200;
        //padding-right: 5px;
    }
}



.header {
    //height: 100vh;
    width: 100%;
    position: relative;
    &__top {
        display: flex;
        align-items: center;
        height: 100%;
        //border: 1px solid red;
        //height: 70px;
        @media (max-width: 425px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
        }
        
    }
    &__showcase {
        background-color: #000;
        height: calc(100vh - 68px);
        //margin-top: 86px;
        width: 100%;
        position: relative;
    }
    &__overlay {
        z-index: 2000;
    }
    &__arrow-down {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 3.125rem;
        left: 0;
        z-index: 2000;
        animation: move 1s infinite linear;
        @media (max-width: 768px) {
            display: none;
        }
        
    }
    &__arrow-down-icon  {
        font-size: 3rem;
        font-weight: 100;
        cursor: pointer;
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25% {
        transform: translateY(30%);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(60%);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    75% {
        transform: translateY(75%);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0%);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    
}


.navbar {
    background-color: #0a141e;
    border-bottom: 2px solid #243443;
    height: 4.18rem;
    z-index: 9999;
    
    
    &__logo {
        color: #ffd74c;
        // font-size: 2rem;
        font-size: 1.5rem;
    }
    &__list {
        display: flex;
        height: 100%;
        margin-left: 3.75rem;
        @media (max-width: 1130px) {
            margin-left: 1rem;
        }
        @media (max-width: 768px) {
            display: none;
            position: absolute;
            top: 4.18rem;
            //top: 0;
            left: -15px;
            bottom: 0;
            width: 100%;
            height: calc(100vh - 4.18rem);
            //border: 2px solid red;
            //background: rgb(92, 121, 39);
            //background-color: rgba(2, 2, 31, 0.9);
            background-color: #111;
            z-index: 9998;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 20px;

        }
    }
    &__item {
        margin: 0 .625rem;
        height: 100%;
         @media (max-width: 838px) {
            margin: 0 .225rem;
        }
        @media (max-width: 768px) {
            height: auto;
            width: 100%;
            text-align: center;
        }
        
    }
    &__link {
        font-size: 1.1rem;
        line-height: 4.18rem;
        padding: 0 .8125rem;
        font-family: 'Muller';
        font-weight: 100;
        cursor: pointer;
        color: #ededed;
        display: block;
        transition: all 5ms;
        -webkit-transition: all 5ms;
        -moz-transition: all 5ms;
        -ms-transition: all 5ms;
        -o-transition: all 5ms;
        text-transform: capitalize;
        svg {
            display: none;
            fill: #ededed;
            padding-left: 15px;
            width: 55px;
            @media (max-width: 768px) {
                display: inline-block;
            }

        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
            border-bottom: 1px solid #e89082;
        }
        @media (max-width: 916px) {
            //margin-left: 1rem;
            padding: 0 .3125rem;
        }
        @media (max-width: 768px) {
            font-size: 1.8rem;
        }
    }
    &__phone {
        margin-left: auto;
        font-size: 1.1rem;
        color: #ededed;
        font-family: 'Muller';
        font-weight: 500;
        @media (max-width: 1130px) {
            display: none;
        }
        @media (max-width: 768px) {
            display: block;
            line-height: 4.18rem;
        }
        @media (max-width: 425px) {
            margin-left: initial;
            line-height: 2rem;
        }


       // }
    }
    &__phone-icon {
        color: #e89082;
        padding-right: .625rem;
        font-size: 1.2rem;
    }
}

.showcase {
    &__picture {

        &--sl1 {
            background: url(../img/service1.jpg) no-repeat center;
            background-size: 100% 150%;
            @media (max-width: 450px) {
                background-size: cover;
            }
        }
        &--sl2 {
            background: url(../img/test-tour.jpg) no-repeat center/cover;
        }
        &--sl3 {
            background: url(../img/record2.jpg) no-repeat center/cover;
            //background-size:  100% 150%;
            //background-position: top 100px;
        }
        // &--sl3 {
        //     background: url(../img/bKoqalSeNkY.jpg) no-repeat;
        //     background-size:  100% 150%;
        //     //background-position: top 100px;
        // }
        // &--sl4 {
        //     background: url(../img/service2.jpg) no-repeat center;
        //     background-size: 100% 150%;
        // }
         &--sl4 {
            background: url(../img/master1.jpg) no-repeat center;
            background-size: 100% 100%;
            //background-position: top;
            @media (max-width: 450px) {
                background-size: cover;
            }
        }
        &--sl5 {
            background: url(../img/record4.jpg) no-repeat center;
             background-size: 100% 150%;
            // background-position: bottom;
        }
        &--sl6 {
            background: url(../img/defilee.jpg) no-repeat center/cover;
            //background-size: 100% 150%;
            //background-position: bottom;
        }
        // &--sl6 {
        //     background: url(../img/ltgl1ahihnM.jpg) no-repeat center;
        //     background-position: bottom;
        // }
    }
    // &__img {
    //     display: block;
    //     height: 100%;
    //     width: 100%;
    // }
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding-top: 11.43rem;
    @media (max-width: 768px) {
        padding-top: 8.43rem;
    }
    @media (max-width: 450px) {
        padding-top: 14.43rem;
    }
    &__content {
        width: 70%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__title {
        font-size: 20px;
        font-weight: 100;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #ffffff;
    }
    &__subtitle {
        font-size: 2.25rem;
        line-height: 48px;
        max-width: 80%;
        font-weight: 200;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 450px) {
            font-size: 1.5rem;
            line-height: 29px;
        }

        
    }
    &__btn {
        width: 200px;
        margin-top: 5rem;
        z-index: 2000;
        @media (max-width: 450px) {
            margin-top: 2rem;
        }
    }
}

/* main */
.main {
    background-color: #041c40;
    background-image: url(../img/body_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-weight: 200;
}

/* services */
.services {
    
    &__content {
        // display: flex;
        // flex-wrap: wrap;
        padding-top: 80px;
        padding-bottom: 60px;
        margin: 0 -15px;
    }
    &__card {
        //width: 33.33%;
        //height: 280px;
        margin: 0 .9375rem;
    }
    &__title {
        text-align: center;
    }
}

/* card */
.card {

    &__inner {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; 
        position: relative;
        overflow: hidden;
        &:hover .card__body {
           //background-color: rgba(0, 0, 0, 0.43);
           transform: translateY(0px);
           -webkit-transform: translateY(0px);
           -moz-transform: translateY(0px);
           -ms-transform: translateY(0px);
           -o-transform: translateY(0px);
        }
        &:hover .card__img {
            opacity: .6;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;

    }
    &__body {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        //border: 1px solid red;
        text-align: center;
        //background-color: rgba(0, 0, 0, 0);
        transform: translateY(150px);
        -webkit-transform: translateY(150px);
        -moz-transform: translateY(150px);
        -ms-transform: translateY(150px);
        -o-transform: translateY(150px);
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
}
    &__title {
        color: #ffffff;
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 70px;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    &__description {
        font-weight: 400;
        padding: 0 30px;
        line-height:1.32;
        text-transform: uppercase;
    }
}

/* description */
.description {
    margin-top: 90px;
    &__row {
        display: flex;
        min-height: 420px;
        margin: 0 -20px;
        margin-bottom: 60px;
        @media (max-width: 768px) {
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
        }
        &--reverse {
            flex-direction: row-reverse;
            padding-left: 10px;
            //margin-left: 10px;
            @media (max-width: 768px) {
                flex-direction: column;
                padding-left: 10px;
                padding-right: 10px;
            }
           
        }
    }
    &__item {
        box-sizing: border-box;
        width: 50%;
        //border:1px solid red;
        padding: 0 20px;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__image {
        display: block;
        width: 100%;
        // height: 100%;
        //max-width: 100%;
        opacity: .7;
    }
    &__link-picture {
        position: relative;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
    }
    &__wrap-picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all .4s ease;
        &:hover {
            opacity: 1;
        }
    }
    &__caption-title {
        font-family: "NK264";
        font-size: 3.4rem;
        font-weight: normal;
        padding-top: 70px;
        margin-bottom: 80px;
    }
    &__caption-text {
        color: #ededed;
        font-size: 1.3rem;
        font-weight: 200;
        line-height: 1.5;
        padding: 0 80px;
        // visibility: hidden;
        // opacity: 0;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    &__inner-title {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    &__link-title {
        //color: #ededed;
        border-bottom: 1px solid transparent;
        color: #e89082;
        font-size: 2.7rem;
        line-height: 1.3;
        font-weight: 200;
        @media (max-width: 426px) {
            font-size: 1.7rem;
        }
        
        
    }
    &__inner-text {
        font-size: 1.125rem;
        line-height: 1.5;
        margin-bottom: 40px;
        color: #ffffff;
        font-weight: 200;
         padding-right: 5px;
    }
    &__btn {
        width: 226px;
        //margin-top: 18px;
    }
}

.categories {

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }
    &__list {
        //margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -20px;
        @media (max-width: 769px) {
           margin: 0 ; 
        }
        
    }
    &__item {
        width: 33.333%;
        padding: 0 20px;
        //border: 1px solid red;
        margin-bottom: 60px;
        @media (max-width: 769px) {
            width: 50%;
        }
        @media (max-width: 426px) {
            width: 100%;
        }
    }
    &__link {
        display: block;
        //width: 340px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 30px 20px;
        overflow: hidden;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        //transition: all 1ms linear;
        //-webkit-transition: all 1ms linear;
        //-moz-transition: all 1ms linear;
        //-ms-transition: all 1ms linear;
        //-o-transition: all 1ms linear;
        //&:hover ;
        //box-shadow: 0 6px 6px 0 rgba(0,0,0,0.14), 0 9px 3px -6px rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.3);
        //:;
        &:hover .categories__description {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            opacity: 1;
        }
    }
    &__picture {
        height: 227px;
        width: 227px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
       
    }
    &__body {
        text-align: center;
    }
    &__subtitle {
        font-family: "NK264";
        font-size: 2.2rem;
        line-height: 54px;
        font-weight: bold;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    &__description {
        font-size: 1.2rem;
        line-height: 1.2;
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
}

.team {
    padding-bottom: 3rem;

    &__title {
        text-align: center;
        padding: 50px 0;
        
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //border: 1px solid red;
        margin-bottom: 3rem;
    }
    &__subtitle {
        //padding-left: 70px;
        position: relative;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 30px;
        //color: #333;
    }
    &__text {
        font-size: 1rem;
        line-height: 22px;
    }
    &__name {
        font-weight: 700;
        margin-bottom: 12px;
    }
    &__mail {
        color: rgb(93, 59, 245);
        line-height: 32px;
    }
    &__address {
        line-height: 32px;
    }
    &__phone-icon {
        padding-right: 7px;
        // position: absolute;

        // top: 0px;
        // left: 0;
    }
    &__img {
        height: 140px;
        width: 140px;
    }
}

//portfolio
.portfolio {
    padding: 0;
    &__banner {
        height: 300px;
        background: url(../img/ban1.jpg) no-repeat center/cover;
        //background-size: contain;
    }
    &__breadcrumb {
        display: flex;
        margin-top: 1rem;
    }
    &__breadcrumb-item {
        font-size: 1.2rem;
        &:first-child {
            color: #dc8648;
        }
    }
    &__title {
        margin: 2rem 0;
        font-size: 2rem;
    }
    &__description {
        // font-size: 1rem;
        // margin-bottom: 1.2rem;
        font-size: 1.125rem;
        line-height: 1.5;
        //margin-bottom: 40px;
        color: #ffffff;
        font-weight: 200;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        //grid-gap: 30px;
        grid-column-gap: 30px;
        grid-row-gap: 45px;
        //align-items: center;
        padding: 3rem 0;

    }
    &__list-item {
        //height: 200px;
       // border: 2px solid #edcb60;
       //min-height: 600px;
       //height: auto;
    }
}

// footer
.footer {
    padding: 80px 0;
    color: #ffffff;
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 50%;
        @media (max-width: 690px) {
            width: 100%;
        }
    }
    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }
    &__text {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 1.5rem;
        font-family: 'Muller';
        font-weight: 100;
        
    }

    &__list-item {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 1rem;
        font-family: 'Muller';
        font-weight: 100;

        .fas {
            color: #fa9885;
            padding-right: 15px;
            font-size: 1.5rem;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        @media (max-width: 690px) {
            margin-top: 2rem;
        }
    }
    &__form-item {
        margin-bottom: 2rem;
        width: 70%;
        padding: 20px 10px;
        font-size: 1.1rem;
        font-weight: 200;
        @media (max-width: 769px) {
            width: 100%;
        }
    }
    &__btn {
        border: none;
        color: #ffffff;
        background-color: #fa9885;
        text-align: center;
        width: 170px;
        padding: 10px;
        font-size: 1.1rem;
    }
}







.slider {
    //border: 2px solid blue;
    height: 100%;

    div {
        //border: 2px solid greenyellow;
        height: 100%;
        width: 100vw;
    }

    img {
        display: block;
        width: 100vw;
        //height: 100%;
    }
}

/* slick slider */

.slick-dots {
    top: 20px;
    z-index: 2001;
    height: 50px;

    li {
        //background-color: greenyellow;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #a9a9a9;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
}

.slick-active {
    background-color: #ededed;
}

.slick-prev,
.slick-next {
    z-index: 7000;
    width: 100px;
    height: 80px;
    top: 6%;
    @media (max-width: 426px) {
        top: 16%;
    }
    background-color: rgba(0, 0, 0, 0.23);
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.23);
    }
}

.slick-prev {
    //left: calc(100vw - 217px);
    left: initial;
    right: 100px;

}

.slick-next {
    right: 0;
}

.slick-prev:before,
.slick-next:before {
    font-size: 35px;
    font-weight: bold;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #ffd74c;
    //font-size: 36px
}


.navbar-fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.ecart-top-js {
    //margin-top: 82px;
    padding-top: 162px;
}

.linkToHome {
    display: block;
    text-decoration: none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(90deg, #423f9c, #862359);
    //@includelinear-gradient(90deg,#423f9c,#862359):;
    position: fixed;
    bottom: 100px;
    right: -40px;
    //@includetransition():;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    transition: all.2sease-in;
    -webkit-transition: all.2sease-in;
    -moz-transition: all.2sease-in;
    -ms-transition: all.2sease-in;
    -o-transition: all.2sease-in;
}

.show-js {
    display: block;
}
.hide-js {
    display: none;
}

